@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Product+Sans:300,400,400italic&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Material Icons Round'),
    local('MaterialIcons-Regular'),
    url(../icons/round/font.ttf) format('truetype');
}

:root {
  --font-main: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', Arial, sans-serif;
  --font-accent: 'Product Sans', var(--font-main);
  --font-mono: 'Roboto Mono', Consolas, monospace;
}